/* needed, because the form-inputs got different default stylings in the IonCard-Component */
.addition-card-input {
  & > ion-label {
    margin-top: -5px !important;
  }
  & ion-input {
    margin-top: -2px !important;
    margin-bottom: -2px !important;
  }
}

.addition-card-checkbox {
  & > ion-label {
    margin-top: -5px !important;
    font-size: 1rem;
  }
  & .form-chip-group {
    margin-top: 7px;
  }
}
