.convert-button {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 16px;
  --border-width: 1px;
  --border-color: gray;
  --ripple-color: var(--ion-color-light);

  &.small-left {
    margin-left: 8px;
  }
}
