@tailwind base;
@tailwind components;
@tailwind utilities;

.alert-button.sc-ion-alert-md.alert-button-cancel {
  color: var(--ion-color-danger);
}

.alert-button.sc-ion-alert-md.alert-button-ok {
  color: var(--ion-color-medium);
}

.swiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: var(--ion-color-primary);
}

ion-radio::part(label) {
  width: 100%;
}

ion-fab[vertical='bottom'] {
  bottom: calc(1rem + var(--ion-safe-area-bottom));
  &.bottom-tabs[activated='true'] {
    bottom: calc(1rem + var(--ion-safe-area-bottom) + 56px);
  }
}

ion-fab[horizontal='start'] {
  left: calc(1rem + var(--ion-safe-area-left));
}

ion-fab[horizontal='end'] {
  right: calc(1rem + var(--ion-safe-area-right));
}

.form-radio-group {
  .radio-group-wrapper {
    @apply my-2 flex flex-wrap gap-2;
  }

  ion-radio::part(container) {
    --size: 18px;
    width: var(--size);
    height: var(--size);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.backdrop {
  background-color: var(--ion-backdrop-color);
  opacity: var(--ion-backdrop-opacity);
}

ion-item {
  --border-color: rgb(255 255 255 / 0.25);
}
