/* Grey Friends */
/* https://mycolor.space/?hex=%23222428&sub=1 */
/*  --ion-color-dark 
    --ion-color-medium
    --ion-color-light */

/* Custom Styles for Ion-Components */
.delete-alert .alert-button {
  color: var(--ion-color-danger-shade);
}
.save-alert .alert-button {
  color: var(--ion-color-success-shade);
}
/* Resets the cancel-button to its default color, after it gets overwritten by the custom alert-styles) */
.alert-button-role-cancel.sc-ion-alert-md {
  color: var(--ion-color-dark);
}
ion-item-divider {
  height: 50px;
}

/* Utility-Classes */
.no-background {
  --background: unset;
}
.unselected-color {
  --color: rgba(var(--ion-color-contrast-rgb), 0.6);
}
.detail-icon-opacity-0-5 {
  --detail-icon-opacity: 0.5;
}
.no-padding-start {
  --padding-start: 0;
}
.no-padding-left {
  padding-left: 0;
  margin-left: -1px;
}
.small-label-component {
  font-size: 14px;
  margin-top: 3px;
  color: var(--ion-color-light-shade);
}
.flex-column-full-height {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.color-danger {
  color: var(--ion-color-danger-shade);
}
.color-success {
  color: var(--ion-color-success-shade);
}
.list-item-icon-color {
  color: var(--ion-color-dark);
}
.custom-backdrop {
  opacity: var(--ion-backdrop-opacity);
  z-index: 11;
}
.form-input-no-margin::part(native) {
  border-radius: 0;
}
.item-border-color.transparent-line {
  --border-color: transparent;
}
ion-select::part(text) {
  /* doesn't matter what size is set, but it must be width (min-width isn't working!) */
  width: 16px;
}
// ion-margin causing problems on android
.default-margin-top {
  margin-top: 16px;
}
.default-margin-right {
  margin-right: 16px;
}
.default-margin {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 16px;
  margin-right: 16px;
  &-small {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 16px;
  }
  &-small-top {
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
.default-padding-horizontal {
  padding-left: 16px;
  padding-right: 16px;
}
.item-thick-full-line {
  --border-width: 0 0 2px 0;
}
.item-smaller-icon-margin {
  margin-bottom: 10px;
}
.no-items-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  color: var(--ion-color-light-shade);
  font-size: large;
  text-align: center;
  line-height: 1.5;
}

body.dark {
  .color-danger {
    color: var(--ion-color-danger);
  }
  .color-success {
    color: var(--ion-color-success);
  }
  .list-item-icon-color {
    color: var(--ion-color-light);
  }
  .item-border-color {
    --border-color: var(--ion-color-light-shade);
    --highlight-color-focused: var(--ion-color-light);
    &.transparent-line {
      --border-color: transparent;
    }
  }
  .checkbox-input {
    /* same color as select arrow */
    --border-color: rgba(155, 162, 171, 1);
    /* same color as background */
    --checkmark-color: hsl(215, 33%, 20%);
  }
  .alert-input.sc-ion-alert-md:focus {
    border-color: var(--ion-color-light);
  }
  .sliding-delete {
    background: var(--ion-color-danger-shade);
  }
  .sliding-archive {
    background: var(--ion-color-warning-shade);
  }
  .sliding-restore {
    background: var(--ion-color-success-shade);
  }
  .background-success {
    --ion-color-base: var(--ion-color-success-shade) !important;
  }
  .alert-message {
    color: #999999;
  }
  .delete-alert .alert-button {
    color: var(--ion-color-danger);
  }
  .save-alert .alert-button {
    color: var(--ion-color-success);
  }
  .alert-button-role-cancel.sc-ion-alert-md {
    color: var(--ion-color-light);
  }
  .basic-select-popover {
    .select-interface-option {
      --color: #fff;
      --background: var(--ion-color-medium);
      --background-focused: var(--ion-color-primary, #3880ff);
      --background-focused-opacity: 0.2;
    }
    ion-list {
      background-color: var(--ion-color-medium);
    }
    .select-interface-option ion-checkbox {
      /* same color as select arrow */
      --border-color: rgba(155, 162, 171, 1);
      --background-checked: rgba(155, 162, 171, 1);
      --border-color-checked: rgba(155, 162, 171, 1);
      /* same color as Background */
      --checkmark-color: var(--ion-color-medium);
      --background: var(--ion-color-medium);
    }
  }
  .slides-bullet-active {
    --bullet-background-active: var(--ion-color-light);
  }
  .form-component {
    &.item-has-focus ion-label {
      color: #fff !important;
    }
    &.ion-activated ion-select {
      color: #fff !important;
    }
  }
  ion-card {
    box-shadow: rgb(0 0 0 / 20%) 0 0 5px 0, rgb(0 0 0 / 14%) 0 2px 2px 0, rgb(0 0 0 / 12%) 0 1px 5px 0;
  }
}
